NODE_ENV=development
DATABASE_PATH=./data/matemat.db
UPLOADS_DIR=./data/uploads
GENERATOR_URL=http://localhost:3003/og-image.png
GENERATOR_USER=matemat
GENERATOR_PASS=devpass
INTERNAL_BASE_URL=http://localhost:3000
